<div class="containerForm">
    <h1>TechApp</h1>

    <a href="/api/login"><button class="btn btn-success">Login</button></a>
    <a href="/api/registro"><button class="btn btn-warning">Sign up</button></a>
    
    
    <p>Registrate para ingresar al sitio</p>
</div>