<div>
  <div class="containerForm">
    <h2>¡Bienvenido!</h2>
    <p>Ingresa tu cuenta</p>

    <input type="email" placeholder="Email" name="email" id="email" />
    <input type="password" placeholder="Contraseña" name="password" id="password" />
    <a href="/api/sessions/github"><button>Entrar con github</button></a>
    <button id="send" class="btn btn-success">Enviar</button>
  </div>

</div>