<div class="navHome">
    <h1 class="tituloHome">Lista de productos</h1>
    <div class="btnNav">
        <a href="/api/home/cart" id="linkCarrito" class="mx-2"><button class="btn btn-primary">Carrito</button></a>
        <button class="btn btn-primary" id="logout">Logout</button>
    </div>
</div>

<h3>Hola {{firstName}} {{lastName}} {{admin}}</h3>


<div class="containerCard" id="containerCards"></div>
 
<div class="containerBtn">
    <button id="btnAnterior">ANTERIOR</button>
    <h5>Pagina <span  id="pag"></span></h5>
    <button id="btnSiguiente">SIGUIENTE</button>
</div>